.box {
  width: 400px;
  height: 550px;
  background-color: darkred;
  border-radius: 20px;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: white;
  font-family: "Trebuchet MS", sans-serif;
  border: 4px dotted black 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	perspective: 800px;
	background-color: blanchedalmond
	border: 6px solid black;
	margin: 0;
}

#cardTitle {
	font-size: 80px;
	text-align: top:
	margin: 0;
	padding: 40px 0;
}

.navbutton {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: black;
	border: none;
	font-size: 24px;
	cursor: pointer;
	color: white;
	}

.nav-left  {
	position: fixed; 
	bottom: 30px;
	left: 30px;
}

.nav-right {
	position: fixed; 
	bottom: 30px;
	right: 30px;
}